<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <title>{{title}}</title>
{{#unless isDevelopment}}
  <link rel="stylesheet" href="{{assetPath}}bundle.css">
{{/unless}}
</head>
<body>
  {{{body}}}
  <script src="{{assetPath}}bundle.js" async></script>
</body>
